<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="Host" value="8.8.8.8"/>
    <add key="CmdCommand" value="start"/>
    <add key="DelayS" value="5"/>
  </appSettings>
</configuration>