<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="Host" value="8.8.8.8"/> <!--Host to ping-->
    <add key="CmdCommand" value="echo a|echo b"/> <!--seperate commands by: '|'-->
    <add key="SleepTimeCMD" value="4000"/> <!--sleep time between cmd commands ; ms-->
    <add key="Delay" value="5"/> <!--delay between ping check ; seconds-->
  </appSettings>
</configuration>